# Ignore common executable file extensions
*.exe
*.msi
*.bat
*.cmd
*.com
*.sh
*.bin
*.out
*.run
*.app
*.so

# Ignore executable files without extension (Unix-like)
* # Ignore all files without extensions
!*/   # Don't ignore directories